*{
    margin: 0%;
    padding: 0%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header, main, footer{
    width: 100%;
}

header{
    width: 100%;
    border: 100%;
    background-color: gray;
    padding: 35px 0px;
}

#cabecalho{
    color: white;
    display: flex;
    width: 100%;
    display: flex;
    justify-content:space-between;
}

#cabecalho a{
    text-decoration: none;
    display: flex;
    color: white;
}

#img{
    display: flex;
}

#nome{
    padding: 25px 0px;
}

#cadastro{
    padding: 0px 20px;  
    display: flex;
    height: auto;
    align-items: center;
}

#cadastro a{
    text-decoration: none;
    color: white;
}


.carousel-item {
    height: 400px; 
    margin: 80px 0px;
}

.carousel-item img {
    width: 100%;
    height: 100%; 
    object-fit: cover; 
    object-position: center;
}


#produtos{
    text-align: center;
}

#imagensGaleria{
    display: flex;
    margin: 65px;
    justify-content: center;
}

#img1{
    padding: 10px;
    box-shadow: 0px 0px 10px black;
    margin: 0px 5px;
}

#img2{
    padding: 10px;
    box-shadow: 0px 0px 10px black;
}

#img3{
    padding: 10px;
    box-shadow: 0px 0px 10px black;
    margin: 5px;
}

#img4{
    padding: 10px;
    box-shadow: 0px 0px 10px black;
    margin: 5px;
}

#img3e4{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#categoria-galeria{
    display: flex;
}

#categorias{
    margin: 0px 200px;
}

#categorias h1{
    padding: 5px 10px;
}


#box-categorias{
    display: flex;
    flex-direction: column;
    width: 290px;
}

#box-categorias input{
    width: 25px;
}



#categoria1{
    display: flex;
    padding: 10px 0px;
}

#categoria1 p{
    padding: 5px;
}



#categoria2{
    display: flex;
    padding: 10px 0px;
}

#categoria2 p{
    padding: 5px;
}



#categoria3{
    display: flex;
    padding: 10px 0px;
}

#categoria3 p{
    padding: 5px;
}



#categoria4{
    display: flex;
    padding: 10px 0px;
}

#categoria4 p{
    padding: 5px;
}



#categoria5{
    display: flex;
    padding: 10px 0px;
}

#categoria5 p{
    padding: 5px;
}



#categoria6{
    display: flex;
    padding: 10px 0px;
}

#categoria6 p{
    padding: 5px;
}



#categoria7{
    display: flex;
    padding: 10px 0px;
}

#categoria7 p{
    padding: 5px;
}



#categoria8{
    display: flex;
    padding: 10px 0px;
}

#categoria8 p{
    padding: 5px;
}



.vertical-line {
    width: 1.6px;
    height: 800px; 
    background-color: black; 
    margin: 0px 420px;
    margin-top: -655px ;
}



#galeria{
    display: flex;
    flex-wrap: wrap;
}

#galeria a{
    text-decoration: none;
    color: black;
}

#galeria1a4{
    display: flex;
    justify-content: center;
}

#galeria5a8{
    display: flex;
}

#galeria-produto1{
    padding: 0px 15px;
}

#galeria-produto2{
    padding: 0px 15px;
}

#galeria-produto3{
    padding: 0px 15px;
}

#galeria-produto4{
    padding: 0px 15px;
}

#galeria-produto5{
    padding: 0px 15px;
}

#galeria-produto6{
    padding: 0px 15px;
}


#galeria-produto7{
    padding: 0px 15px;
}


#galeria-produto8{
    padding: 0px 15px;
}

#galeria p{
    padding: 5px 0px;
}

#galeria h2{
    padding: 5px 0px;
}




#explore{
    display:flex;
    justify-content: center;
    padding: 65px;
}


#servicos{
    display: flex;
    justify-content: center;
    margin: 20px;
    height: 300px;
}

#pagamento{
    background-color: rgb(197, 197, 197);
    padding: 20px;
    width: 200px;
    height: 300px;
    margin: 0px 10px;
}

#pagamento a{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: black;
}

#pagamento h3{
    padding: 10px;
}



#suporte{
    background-color: rgb(197, 197, 197);
    padding: 20px;
    width: 200px;
    height: 300px;
    margin: 0px 10px;
}

#suporte a{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: black;
}

#suporte h3{
    padding: 10px;
}



#reembolso{
    background-color: rgb(197, 197, 197);
    padding: 20px;
    width: 200px;
    height: 300px;
    margin: 0px 10px;
}

#reembolso a{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: black;
}

#reembolso h3{
    padding: 10px;
}



#frete{
    background-color: rgb(197, 197, 197);
    padding: 20px;
    width: 200px;
    height: 300px;
    margin: 0px 10px;
}

#frete a{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: black;
}

#frete h3{
    padding: 10px;
}




footer{
    width: 100%;
    border: 100%;
    background-color: rgb(44, 44, 44);
    padding: 35px 0px;
    color: white;
} 


#redesSociais{
    display: flex;
    padding: 5px 0px;
    margin: 10px;
}

#contatos{
    padding: 10px;
}

#sobre{
    margin: 20px;
}

#direitos{
    text-align: center;
}